html {
	width: 100%;
	height: 100%;
	overflow: hidden;

	font-family: 'helvetica', 'arial', 'sans-serif';
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
}

h3 {
	margin: 0;
	font-size: 18px;
}

rect {
  fill: none;
  pointer-events: all;
}

/* PAGE STRUCTURE */

#subtitle{
	margin-top: 10px;
	font-size: 14px;
}

#wrapper {
	width: 100%;
	height: 100%;
	display: flex;
}

#main {
	flex-grow: 100;
	flex-shrink: 100;
	display: flex;
	flex-direction: column;
}

#buildChart {
	flex-grow: 1;
	flex-shrink: 1;
}

#buttonGroup{
	margin-top: 5px;
}

#moveButton {
	background: white;
}

#linkButton {
	background: white;
}

#newNodesButton {
	background: green;
}

#fixedButton {
	background: white;
	margin-top: 5px;
}

#undoButton {
	background: white;
	margin-top: 5px;
}

#upload {
	margin-top: 20px;
}

#text-options1 {
	margin-top: 20px;
	font-size: 12px;
}

#nodeTitle {
	margin-top: 20px;
}

#visChart {
	flex-grow: 1;
	flex-shrink: 1;
	display: none;
}

#uploadButton{
	margin-top: 5px;
}

#sidebar {
	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;

	background-color: #f0f0f0;
	padding: 20px;
	border-left: 5px solid #999999;
}

#controls1 {
	flex-grow: 0;
	flex-shrink: 0;
}

#controls2 {
	flex-grow: 0;
	flex-shrink: 0;
	display: none;
}

#saveButton{
	margin-top: 5px;
}


#group-labels {
	flex-grow: 1;
	flex-shrink: 1;
	overflow-y: auto;

	margin-top: 20px;
}

#note {
	background-color: #f0f0f0;
	padding: 5px;
	border-top: 5px solid #999999;
}

#notification {
	min-height: 2rem;
	margin: 10px 0;
}

#text-options {
	font-size: 12px;
	margin-top: 5px;

}

#pngSave{
	margin-top: 5px;
}

#download{
	
}


#onfixed{
	display: none;
}

#onflip{
	display: none;
}

#onnodes{
	display: none;
}

/* UI ELEMENTS */

.group-label {
	margin-bottom: 10px;
	padding: 10px;
}

/* SVG ELEMENTS */



.node {
  fill: #808080;
}


.link {
  stroke: #999;
  stroke-opacity: .6;
}
